body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header {
    width: 75%;
    position: absolute;
    margin-top: 1.5rem;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

header div div {
    display: flex;
    gap: 2.5rem;
}

header div div a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

h1 {
    font-size: 120px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 220px;
    margin-bottom: 0;
}

.words3{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.words3 span{
    color: white;
    font-size: 1rem;
}

.divforbutton {
    display: flex;
    justify-content: center;
}

.divforbutton button {
    color: white;
    background-color: #C271ff;
    height: 44px;
    width: 162px;
    border: none;
    border-radius: 20px;
    font-size: 0.75rem;
    margin-top: 2.5rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

.learnpros {
    color: white;
    text-align: center;
    margin-top: 9rem;
    margin-bottom: 4rem;
}

.learnpros span {
    color: #C271ff;
}


main{
    background-image: url("https://i.ibb.co/J30HRrM/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.teachers {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}

.teachers h3,p {
    color: white;
    text-align: center;
}

.teachers p{
    font-style: italic;
    font-size: 1rem;
}

.teachers img {
    border-radius: 50%;
}

main > section:nth-child(1) > div:nth-child(2){
    display: flex;
    align-items: center;
    flex-direction: column;
}

blockquote {
    color: white;
    background-color: #C271ff;
}

main > section:nth-child(2) p {
    text-align: start;
}

main > section:nth-child(2) > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #C271ff;
    height: 392px;
}

main > section:nth-child(2) > div > img {
    width: 160px;
    height: 160px;
}

#bold {
    font-weight: bold;
    margin-left: 2.5rem;
    margin-top: 2rem;
}

#italic {
    font-style: italic;
    margin-left: 2.5rem;
}

main > section:nth-child(3) {
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

main > section:nth-child(3) > h1 {
    text-align: center;
    color: black;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 3rem;
}

main > section:nth-child(3) > h1 > span {
    color: #C271ff;
}

main > section:nth-child(3) > div {
    display: flex;
    justify-content: center;
    gap: 2.5%;
}

.videocontainer {
    position: relative;
}

.whiteoval {
    background-color: white;
    width: 4.5rem;
    height: 4.5rem;
    top: 2.5rem;
    transform: translate(120%);
    opacity: 0.8;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bozpara {
    color: gray !important;
    text-align: start;
    font-size: 14px;
}

.purplep {
    color: #C271ff;
    display: inline-block;
}

.stars {
    display: flex;
    align-items: center;
}

.star {
    color: #C271ff;
}

.star.empty{
    color: #d8d8d8;
}

.bottomdiv {
    display: flex;
    justify-content: space-between;
}

.secondfrombottom {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.secondfrombottom h3{
    display: inline-block;
    color: #C271ff;
    margin: 0;
}

.padneeddiv {
    padding: 0.8rem;
    padding-top: 0;
}

main > section:nth-child(4) {
    background-color: #071629;
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section:nth-child(4) > h1{
    font-size: 2rem;
    margin: 0;
    margin-bottom: 4rem;
}

main > section:nth-child(4) > h1 > span {
    color: #C271ff;
}

main > section:nth-child(4) > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.membershipblock {
    width: 75%;
    display: flex;
    justify-content: center;
}

.membershipblock > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membershipblock > div > h2 {
    color: white;
}

main > section:nth-child(4) > button {
    background-color: #C271ff;
    width: 10rem;
    color: white;
    border: none;
    height: 3rem;
    margin-top: 5rem;
    border-radius: 2rem;
    cursor: pointer;
}

main > section:nth-child(5) {
    background-color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

main > section:nth-child(5) > h1 {
    font-size: 4rem;
    margin: 0;
    color: black;
    font-weight: 100;
    margin-bottom: 4rem;
}

main > section:nth-child(5) > div > div > div > p{
    color: gray;
    text-align: start;
}

main > section:nth-child(5) > div {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

main > section:nth-child(5) > div > div {
    display: flex;
    justify-content: center;
    gap: 15%;
}

footer {
    background-color: #071629;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5rem 1rem;
    padding-bottom: 0;
}

footer > div {
    width: 75%;
}

footer > div > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

footer > div > div > div {
    display: flex;
    gap: 5%;
}

footer > div > p {
    color: gray;
}