body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header {
    width: 75%;
    position: absolute;
    margin-top: 1.5rem;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

header div div {
    display: flex;
    gap: 2.5rem;
}

header div div a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

h1 {
    font-size: 120px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 220px;
    margin-bottom: 0;
}

.words3{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.words3 span{
    color: white;
    font-size: 1rem;
}

.divforbutton {
    display: flex;
    justify-content: center;
}

.divforbutton button {
    color: white;
    background-color: #C271ff;
    height: 44px;
    width: 162px;
    border: none;
    border-radius: 20px;
    font-size: 0.75rem;
    margin-top: 2.5rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

.learnpros {
    color: white;
    text-align: center;
    margin-top: 9rem;
    margin-bottom: 4rem;
}

.learnpros span {
    color: #C271ff;
}


main{
    background-image: url("https://i.ibb.co/J30HRrM/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.teachers {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}

.teachers h3,p {
    color: white;
    text-align: center;
}

.teachers p{
    font-style: italic;
    font-size: 1rem;
}

.teachers img {
    border-radius: 50%;
}

main > section:nth-child(1) > div:nth-child(2){
    display: flex;
    align-items: center;
    flex-direction: column;
}

blockquote {
    color: white;
    background-color: #C271ff;
}

main > section:nth-child(2) {
    margin-top: 1rem;
}

main > section:nth-child(2) p {
    text-align: start;
}

main > section:nth-child(2) > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #C271ff;
    height: 392px;
}

main > section:nth-child(2) > div > img {
    width: 160px;
    height: 160px;
}

#bold {
    font-weight: bold;
    margin-left: 2.5rem;
    margin-top: 2rem;
}

#italic {
    font-style: italic;
    margin-left: 2.5rem;
}

main > section:nth-child(3) {
    background-color: white;
    padding-top: 5rem;
}

main > section:nth-child(3) > h1 {
    text-align: center;
    color: black;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 3rem;
}

main > section:nth-child(3) > h1 > span {
    color: #C271ff;
}

main > section:nth-child(3) > div {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.bozpara {
    color: gray !important;
    text-align: start;
}

.purplep {
    color: #C271ff;
    display: inline-block;
}

.stars {
    display: inline-block;
}

.bottomdiv {
    display: flex;
    justify-content: space-between;
}